@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: oklch(54.64% 0.131 242.68);
  --secondary-color: oklch(44.62% 0.114 245.9);
  --light-blue: oklch(94.19% 0.022 214.4);
  --dark-blue: oklch(15.78% 0.038932844968680894 244.0322295746402);
}

.dark-blue {
  color: var(--dark-blue);
}

.primary-color {
  background-color: var(--primary-color);
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
}

nav .nav-bar {
  position: sticky;
  display: flex;
  width: 100vw;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}
.nav-bar .logo {
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light-blue);
}
nav ul {
  display: flex;
  padding-right: 2rem;
  gap: 2rem;
  list-style: none;
}
/* nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
 */
nav a:active,
nav a:focus {
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.btn {
  @apply rounded-md py-3 px-[6.2rem] text-xs font-bold  tracking-wider;
}

.btn-card {
  @apply rounded-md py-3 px-[1rem] text-xs font-bold  tracking-wider;
}
